header {
    height: 100px;

    

    
  

    .media-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        padding: 24px;

        .menu{
            display: none;
        }
    .logo {
        margin-left: 100px;
    }

    nav {
        display: flex;
        margin-left: 150px;


        ul {
            display: flex;
            gap: 100px;
            text-decoration: none;
            list-style: none;

            li {
                text-decoration: none;
                list-style: none;

                a {
                    text-decoration: none;
                    list-style: none;

                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;



                    color: #000000;
                }
            }
        }
    }
    .icons{
        display: flex;
        gap: 25px;
        padding-right: 50px;
    }
}

}
@media(max-width:500px){
    header{

        .media-box{
            display: flex;
            justify-content: center;
            gap: 60px;
            width: 100%;

            .menu{
                display: block;
            }
            .icons{
                margin-left: auto;
            }
           
        nav{
            display: none;
        }
    }
}
}