.section-3 {
    height: 80vh;
    overflow: hidden;

    .box-3 {
        display: flex;
        padding: 60px 24px;
        width: 100%;

        .matnla-3 {
            padding-left: 50px;
            padding-top: 20px;

            a {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height */

                letter-spacing: -0.02em;
                text-transform: uppercase;

                /* Roxo */

                color: #7000FF;
                text-decoration: none;
                list-style: none;

            }

            h3 {
                font-weight: 700;
                font-size: 36px;
                line-height: 54px;
                letter-spacing: -0.02em;
                max-width: 280px;
                /* Roxo escuro */
                margin-top: 30px;
                color: #2B0955;
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.02em;
                margin-top: 30px;

                /* Cinza escuro */

                color: #363636;
                max-width: 402px;
            }

            button {
                background: #FBC508;
                border-radius: 8px;
                border: 1px solid #FBC508;
                margin-top: 30px;

                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height */


                /* Roxo escuro */

                color: #2B0955;

                padding: 8px 32px;
            }
        }

        .rasmla-3 {
            position: relative;

            img {
                position: absolute;
                left: 800px;
            }

            .odam {
                position: absolute;
                left: 200px;
            }

            .burger-1 {
                left: 190px;
                top: 50px;
            }

            .burger-2 {
                left: 450px;
                top: -20px;
            }

            .burger-3 {
                left: 600px;
                top: 250px;
            }

            .burger-4 {
                left: 700px;
                top: -100px;
            }
        }

    }
}

@media(max-width:500px) {
    .section-3 {
        height: 150vh;
        background-position: center;

        .box-3 {
            display: block;

            .rasmla-3 {

                .burger-2 {
                    left: 400px;

                }

                .burger-3 {
                    left: 400px;
                }
            }

            .matnla-3 {
                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.02em;

                    /* Cinza escuro */

                    color: #363636;

                    max-width: 291px;
                }
            }
        }
    }
}